doctype html
html
  head
    title=title
    link(rel='stylesheet', href='css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://unpkg.com/scrollreveal')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
body
  img(class='logo' src='assets/faceOSLOGO.svg')
  .wrapper
    each user, i in users
      .container
       .card.reveal
        .card-front
         .description
          p #{user.name.alt}
         .image-placeholder
          img(class='profile-image' src=user.url alt='')
          .gradient-overlay
         .text-placeholder
          .name #{user.name.caption}
          .role #{user.tags[0]}
         .seemore-button
          img(class='plus-icon' src='assets/plus.svg' alt='')
div.load-more
  a(href='#') load more
script.
  var next = !{JSON.stringify(next)}
script(src='js/animatecard.js')
script(src='js/main.js')
script(src='js/ajax.js')
div.background-container
  canvas(class='background')
